Adafruit-BBIO==1.2.0
Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.5
Adafruit-SSD1306==1.6.2
astroid==2.4.2
autopep8==1.5.3
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
dnspython==1.16.0
ecdsa==0.15
esptool==2.8
eventlet==0.31.0
Flask==1.1.2
Flask-SocketIO==4.3.1
greenlet==0.4.17
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
Jinja2>=2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
monotonic==1.5
Pillow>=8.1.1
pyaes==1.6.1
pycodestyle==2.6.0
pylint==2.5.3
pyserial==3.4
python-engineio==3.13.2
python-socketio==4.6.0
requests>=2.25.1
RPi.GPIO==0.7.0
rtttl==0.2
six==1.15.0
spidev==3.5
toml==0.10.1
typed-ast==1.4.1
urllib3>=1.26.5
Werkzeug==1.0.1
wrapt==1.12.1
